*,*::before,*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: hsl(0, 0%, 90%);
}

.form {
  padding: 1em;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  gap: 2em;
  align-items: center;
}

.generate-btn {
  padding: .5em .3em;
  border-radius: .3em;
  background-color: hsl(219, 45%, 65%);
  cursor: pointer;
  transition: opacity 100ms ease-in-out;
}

.generate-btn:hover, .generate-btn:focus {
  opacity: .9;
}

.card-container {
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1em;
}

.card {
  padding: .5em;
  border-radius: .3em;
  box-shadow: 0 0 5px 1px hsl(0, 0%, 50%);
  background-color: hsl(0, 0%, 100%);
  transition: box-shadow 100ms ease-in-out;
}

.card:hover {
  box-shadow: 0 0 10px 1px hsl(0, 0%, 50%);
}