*,*::before,*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: hsl(0, 0%, 80%);
}

.app {
  min-width: 500px;
}

.form {
  padding: 1em;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  gap: 2em;
  align-items: center;
  flex-wrap: wrap;
}

.input-group {
  display: flex;
  align-items: center;
  gap: .5em;
}

.input-group > select, .input-group > input {
  padding: .5em;
}

.generate-btn {
  padding: .5em .3em;
  border-radius: .3em;
  background-color: hsl(219, 45%, 65%);
  cursor: pointer;
  transition: opacity 100ms ease-in-out;
}

.generate-btn:hover, .generate-btn:focus {
  opacity: .8;
}

.card-container {
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1em;
}

.card {
  min-height: 250px;
  padding: .5em;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  background-color: white;
  border-radius: .3em;
  box-shadow: 0 0 5px 1px hsla(0, 0%, 50%);
  position: relative;
  transform-style: preserve-3d;
  transition: 150ms;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0));
}

.card.flipped {
  --rotate-y: 180deg;
  align-items: center;
}

.front-side, .back-side {
  position: absolute;
  backface-visibility: hidden;
}

.question,.answer {
  font-size: 1.2rem;
  margin: 0;
}

.back-side {
  transform: rotateY(180deg);
}

.card:hover {
  box-shadow: 0 0 10px 1px hsl(0, 0%, 50%);
}


.options {
 margin-top: 2em;
 color: hsl(0, 0%, 30%);
}

.option {
  line-height: 1.3em;
}


